p.foo {
  color: black;
  border-color: blue;
  font: 12px/30px;
  content: "a";
  content: "c";
}

/*
@import "archivo1";
@import "archivo1", "archivo2";
@import "http://url";
@import url(http://url);
*/
#main p {
  color: red;
  color: red;
}
