@charset "UTF-8";
/* Este comentario ocupa varias líneas,
 * y utiliza el formato tradicional de CSS.
 * Su contenido aparecerá en el archivo CSS compilado. */
body {
  color: black;
}

a {
  color: green;
}
