p.error, p.seriousError, p.criticalError {
  color: blue;
  font-weight: bold;
  font-size: 2em;
}

.error, .seriousError, .criticalError {
  border: 1px #f00;
  background-color: #fdd;
}

.error:hover, .seriousError:hover, .criticalError:hover {
  border: 2px #f00;
}

.serious, .seriousError, .criticalError {
  border-width: 3px;
}

.error:hover.intrusion, .seriousError:hover.intrusion, .criticalError:hover.intrusion {
  background-color: red;
}

.criticalError {
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

/*combinacion de selectores*/
#admin .tabbar a, #admin .tabbar #demo .overview .fakelink, #demo .overview #admin .tabbar .fakelink {
  font-weight: bold;
}
