.page-title {
  font-family: Gill, Helvetica, sans-serif;
  margin-top: 10px;
  color: blue;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
}

body .header:before {
  content: "Cabecera";
}

body .footer:before {
  content: "contenido por defecto";
}

* html #logo {
  background-image: url(/logo.gif);
}
