@charset "UTF-8";
/*Numeros*/
p {
  width: 1.11111in;
  font: 10px/8px;
  width: 500px;
  width: 1px;
  height: 250px;
  margin-left: 9px;
}

/*Colores*/
p {
  color: #050709;
  color: #020406;
  color: rgba(255, 255, 0, 0.75);
  color: rgba(255, 0, 0, 0.8);
  color: rgba(255, 0, 0, 0.25);
}

/*Texto*/
p {
  cursor: e-resize;
  content: "Foo Bar";
  font-family: sans-serif;
  margin: 7px auto;
  content: "¡Me he comido 15 pasteles!";
  content: "¡Me he comido  pasteles!";
}
