p%mal{
    color: blue;
    font-weight: bold;
    font-size: 2em;
}
.error {
    border: 1px #f00;
    background-color: #fdd;
    &:hover {
        border: 2px #f00;
    }
    @extend %mal;
    @extend .noExiste !optional; //El selector no existe pero no salta error por !optional
}

.serious {
    border-width: 3px;
}

.error:hover.intrusion {
    background-color: red;
}

.seriousError {
    @extend .error;
    @extend .serious;
}

.criticalError {
    @extend .seriousError;
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
}

/*combinacion de selectores*/
#admin .tabbar a {
    font-weight: bold;
}
#demo .overview .fakelink {
    @extend a;
}