// Funciones de css
p {
    color: hsl(0, 100%, 50%);
    color: hsl($hue: 0, $saturation: 100%, $lightness: 50%); 
}

// Funciones creadas
$grid-width: 40px;
$gutter-width: 10px;

@function grid-width($n) {
  @return $n * $grid-width + ($n - 1) * $gutter-width;
}

#sidebar { 
  width: grid-width(5); 
}