$color: rojo;
$padding: false;
p {
  padding: if($padding, 10, 0) ;

  @if $color == azul {
    color: blue;
  } @else if $color == rojo {
    color: red;
  } @else if $color == verde {
    color: green;
  } @else {
    color: black;
  }
}