@mixin large-text($color) {
  color: $color;
  @content;
}

@mixin funcionBody($selector, $content: "contenido por defecto") {
    body #{$selector}:before {
      content: $content;
    }
}
@mixin titulo($font-family...){
  .page-title {
    font-family: $font-family;
    margin-top: 10px;
    @include large-text(blue){ //include con contenido y parametro
      font: {
        family: Arial;
        size: 20px;
        weight: bold;
      }
    }
  }
}  

@mixin pagina{
  @include titulo(Gill, Helvetica, sans-serif);//include con parametros indefinidos
  @include funcionBody(".header", "Cabecera");
  @include funcionBody(".footer");
  * html {
    @content;
  }
}

@include pagina{ //include con bloques como contenido
  #logo {
    background-image: url(/logo.gif);
  }
}