/*Numeros*/
p {
    width: 1in + 8pt;
    // El carácter '/' se interpreta como código CSS normal
    font: 10px/8px;
    $width: 1000px;
    // El carácter '/'  se interpreta como una división
    width: $width/2;        // Uno de los operandos es una variable
    width: round(1.5px)/2;    // Uno de los operados es el resultado de una función
    height: (500px/2);      // Los parénteis encierran la expresión
    margin-left: 5px + 8px/2px; // El '+' indica que es una expresión matemática
}

/*Colores*/
$translucent-red: rgba(255, 0, 0, 0.5);
p {
    color: #010203 + #040506;
    color: #010203 * 2;
    color: rgba(255, 0, 0, 0.75) + rgba(0, 255, 0, 0.75);  
    color: opacify($translucent-red, 0.3);
    color: transparentize($translucent-red, 0.25);
}

/*Texto*/
$valor: null;
p {
    cursor: e + -resize;
    content: "Foo " + Bar;
    font-family: sans- + "serif";
    margin: 3px + 4px auto;
    content: "¡Me he comido #{5 + 10} pasteles!";
    content: "¡Me he comido #{$valor} pasteles!";
}