$name: foo;
$attr: border;
$color: black;
$font-size: 12px;
$line-height: 30px;

//variables final
$contenido: "a";
$contenido: "¿b" !default;
$nuevo_contenido: null;
$nuevo_contenido: "c" !default;

p.#{$name} {
    color:$color;
    #{$attr}-color: blue;
    font: #{$font-size}/#{$line-height};
    content: $contenido;
    content: $nuevo_contenido;
}